<c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <form cForm class="row g-3">
          <div class="col-auto">
            <a cButton [routerLink]="['/coupon/add']" color="primary" role="button">Create New Coupon</a>
          </div>
        </form>
      </c-card-body>
    </c-card>
</c-col>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-body>
          <c-col md="3" class="mb-4 flex justify-content-md-end">
          <input cFormControl id="validationCustom09" 
          (input)="search()"
          [(ngModel)]="searchTerm"
          type="search" 
          placeholder="search" />
          </c-col>
          <table [hover]="true" [striped]="true" [bordered]="true" cTable>
            <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">ARN</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>  
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a cButton [routerLink]="['/coupon/update']" color="btn-transparent" role="button" class="btn-sm text-primary border-0  py-0" [cTooltip]="tooltipEditText" cTooltipPlacement="top"><svg [cIcon]="icons.cilPen" size="xl" title="List Icon"></svg></a>
                <a cButton color="btn-transparent" role="button" class="btn-sm text-danger border-0  py-0" [cTooltip]="tooltipDeleteText" cTooltipPlacement="top"><svg [cIcon]="icons.cilTrash" width="25" title="List Icon"></svg></a>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- <c-pagination aria-label="Page navigation example" *ngIf="arnList.length > itemsPerPage">
            <c-page-item>
              <a cPageLink (click)="previousPage()" [attr.aria-disabled]="currentPage === 1">Previous</a>
            </c-page-item>
            <c-page-item *ngFor="let page of pageRange">
              <a cPageLink (click)="changePage(page)" [ngClass]="{'active': currentPage === page}">{{ page }}</a>
            </c-page-item>
            <c-page-item>
              <a cPageLink (click)="nextPage()" [attr.aria-disabled]="currentPage === totalPages">Next</a>
            </c-page-item>
          </c-pagination> -->
        </c-card-body>
      </c-card>
    </c-col>
</c-row>
  