<!-- header.component.html -->
<header class="main-header header-style-three">
  <!-- Header Lower -->
  <div class="header-lower">
    <div class="outer-container">
      <div class="left-column">
        <!-- Logo Box -->
        <div class="logo-box">
          <a routerLink="/home">
            <div class="header-logo"></div>
          </a>
        </div>

        <!-- Menu Area -->
        <div class="menu-area">
          <!-- Mobile Navigation Toggler -->
          <div class="mobile-nav-toggler d-lg-none">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>

          <!-- Main Menu -->
          <nav class="main-menu navbar-expand-lg">
            <div class="navbar-collapse show clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/collection">Collection</a></li>
                <li><a routerLink="/membersNews">News</a></li>
                <li><a routerLink="/membersEvents">Events</a></li>
                <li><a routerLink="/membersTeam">Team</a></li>
                <li><a routerLink="/about">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <!-- Right Menu Content -->
      <div class="menu-right-content">
        <!-- Notification Bell -->
        <div class="notification-dropdown" *ngIf="isLoggedIn">
          <div class="notification-icon-wrapper" (click)="toggleNotificationDropdown()">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path class="notification-icon" fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" clip-rule="evenodd"/>
            </svg>
            <span class="notification-badge" *ngIf="unreadNotifications > 0">{{unreadNotifications}}</span>
          </div>

          <!-- Notification dropdown menu -->
          <ul class="dropdown-menu notification-menu" [class.show]="showNotificationDropdown">
            <li class="dropdown-header">
              <span>Notifications</span>
              <span class="unread-count" *ngIf="unreadNotifications > 0">{{unreadNotifications}} unread</span>
            </li>
            <li *ngFor="let notification of notifications" 
                class="notification-item"
                [class.unread]="!notification.is_read"
                (click)="handleNotificationClick(notification)">
              <div class="notification-content">
                <div class="notification-title">{{notification.title}}</div>
                <div class="notification-message">{{notification.message}}</div>
                <div class="notification-time">{{notification.createdAt | date:'short'}}</div>
                <div *ngIf="notification.related_booking" class="notification-action">
                  Click to view booking details
                </div>
              </div>
            </li>
            <li *ngIf="notifications.length === 0" class="no-notifications">
              <span>No notifications</span>
            </li>
            <li class="notification-footer" *ngIf="notifications.length > 0">
              <a routerLink="/orders" (click)="showNotificationDropdown = false">View All Notifications</a>
            </li>
          </ul>
        </div>

        <div class="user-profile-dropdown">
          <!-- Clickable user icon -->
          <div class="user-icon-wrapper" (click)="toggleUserDropdown()">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path class="user-icon" fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
            </svg>
          </div>

          <!-- Click-to-show dropdown menu -->
          <ul class="dropdown-menu" [class.show]="isUserDropdownOpen">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="/membership">Memberships</a></li>
            <li><a class="dropdown-item" routerLink="/orders">Bookings</a></li>
            <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
